<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Moderne Latte</title>

        <!--Stylesheets-->
        <link id="theme-desktop" rel="stylesheet" href="css/stylesheet.css"> 

        <!-- Google Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="navigation" class="nav">
            <a href="#">Big Project</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Our Story</a>
        </div>

        <div class="attention-box">
            <p class="attention-1">The next big thing</p>
            <p class="attention-2">Might be found here</p>
        </div>

        <div class="info-box">
            <div id="vanity">
                <img class="logo" src="./media/Logo.png">
            </div>
            <div class="spacer"></div>
            <div class="blurb">
                <p class="title">Moderne Latte</p>
                <p>A template that can be used to show off a product/project. Consider using the botton that does nothing below.</p>
            </div>
            <button>Find Out More</button>
        </div>
    </body>
</html>

